colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
deepdiff==7.0.1
fonttools==4.53.1
kiwisolver==1.4.5
matplotlib==3.9.2
networkx==3.3
numpy==1.26.4
ordered-set==4.1.0
packaging==24.1
pandapipes==0.10.0
pandapower==2.14.11
pandas==2.2.2
pillow==10.4.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
scipy==1.13.1
shapely==2.0.5
six==1.16.0
tqdm==4.66.5
tzdata==2024.1
mpmath
pytest
dataclasses-json
json2html
pygfunction